<footer>
    <div class="footer text-center fixed-bottom">
        <p style="color: black;"> Copyright &copy; 2019 | Muhammad Feisal</p>
    </div>
</footer>

<!-- scripts -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/popper.js/dist/popper.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/fontawesome/css/fontawesome.min.css"></script>
<script src="js/custom.js"></script>
</body>
</html>
   