<!DOCTYPE html>
<html>
<head>
	<title>NODEJS AUTHENTICATION</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>